* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
}

#main {
    position: relative;
}

#nav-bar {
    position: fixed;
    width: 1440px;
    height: 50px;
    background-color: #575757;
    opacity: 70%;
    font-size: 16px;
    color: #FFF;
    z-index: 5;
}

#logo-top {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 67px;
    top: 0px;
    opacity: 50%;
}

.nav:hover {
    color: black;
    transition: 0.3s;
}

#bar-top-home {
    position: absolute;
    width: 44px;
    height: 4px;
    background-color: #FF0000;
    left: 564px;
    top: 35px;
}

#bar-top-cart {
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: #FF0000;
    left: 1316px;
    top: 37px;
}

#home {
    position: absolute;
    left: 564px;
    top: 18px;
}

#home:hover {
    cursor: pointer;
}

#popular-products {
    position: absolute;
    left: 658px;
    top: 19px;
}

#popular-products:hover {
    cursor: pointer;
}

#black-friday {
    position: absolute;
    left: 832px;
    top: 19px;
}

#black-friday:hover {
    cursor: pointer;
}

#cart {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1316px;
    top: 13px;
}

#cart:hover {
    cursor: pointer;
}

#cart-container {
    position: absolute;
    width: 1440px;
    height: 774px;
    top: 50px;
}

#empty-cart {
    position: absolute;
    width: 256px;
    height: 256px;
    left: 592px;
    top: 256px;
}

#cart-title {
    position: absolute;
    width: 321px;
    height: 42px;
    left: 600px;
    top: 512px;
    color: #B3B3B3;
}

footer {
    position: absolute;
    width: 1440px;
    height: 200px;
    top: 824px;
    background-color: #575757;
}

#logo-bottom {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 50px;
    top: 35px;
    color: #FFF;
}

#newsletter {
    position: absolute;
    left: 484px;
    top: 50px;
    font-size: 16px;
    color: #FFF;
}

.e-mail {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 16px;
    opacity: 50%;
}

#e-mail {
    position: relative;
    width: 380px;
    height: 35px;
    left: 576px;
    top: 43px;
    background-color: #FFF;
    border-radius: 10px;
}

#e-mail:hover {
    cursor: text;
}

#instagram {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1202px;
    top: 45px;
}

#facebook {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1254px;
    top: 45px;
}

#google-plus {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1306px;
    top: 45px;
}

#linkedin {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1358px;
    top: 45px;
}

#bar-bottom {
    position: absolute;
    width: 1340px;
    height: 0px;
    left: 50px;
    top: 100px;
    border: 1px solid #FFFFFF;
}

#copyright {
    position: absolute;
    left: 50px;
    top: 136px;
    font-size: 12px;
    color: #FFF;
}